body {
    background: url(bgformdantabel.jpg);
    background-size: cover;
    }
  .container {
    margin: auto;
    margin-top: 4rem;
    width: 85%;
    background-color: rgb(76, 76, 199);
    border: 2px dashed white;
    border-radius: 20px;
  }

  .container h2 {
    text-align: center;
    color: white;
  }

  table {
    margin: auto;
    overflow-x: auto;
    margin-bottom: 30px;
    height: 75vh;
    width: 95%;
    border-collapse: collapse;
  }

  th {
    color: white;
  }

  th:hover {
    background-color: rgb(219, 151, 48);
    transition: 0.5s;
  }

  @media (max-width: 500px) {
    .container {
      width: 64vh;
    }

    table {
      width: 60vh;
    }
}